<% provide :title, t(".title") %>
<%= render "shared/breadcrumb" %>
<div class="container content-padding">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for [:admin, @room_type] do |f| %>
        <%= render "shared/error_messages", object: f.object %>

        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
        <%= f.label :cost %>
        <%= f.number_field :cost, step: 0.01, class: "form-control" %>
        <%= f.label :bed_num %>
        <%= f.number_field :bed_num, class: "form-control" %>
        <%= f.label :air_conditioner %>
        <%= f.select :air_conditioner, [true, false], prompt: t(".select"), class: "form-control" %>
        <%= f.label :description %>
        <%= f.text_field :description, class: "form-control" %>
        <%= f.label :images %>
        <%= f.file_field :images, multiple: true %><br>
        <%= f.submit t(".submit"), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
