<section class="banner_area">
  <div class="booking_table d_flex align-items-center">
    <div class="overlay bg-parallax" data-stellar-ratio="0.9"
        data-stellar-vertical-offset="0" data-background="">
    </div>
    <div class="container">
      <div class="banner_content text-center">
        <h6><%= t ".subtitle1" %></h6>
        <h2><%= t ".subtitle2" %></h2>
        <p><%= t ".content_html" %></p>
        <% if logged_in? %>
          <%= link_to t(".book_now"), book_path, class: "btn theme_btn button_hover" %>
        <% else %>
          <%= link_to t(".signup"), new_user_path, class: "btn theme_btn button_hover" %>
        <% end %>
      </div>
    </div>
  </div>
</section>
