<% provide :title, t(".title") %>
<%= render "shared/breadcrumb" %>
<div class="container content-padding">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for [:admin, @room] do |f| %>
        <%= render "shared/error_messages", object: f.object %>

        <%= f.label :room_number %>
        <%= f.text_field :room_number, class: "form-control" %>
        <%= f.label :room_type_id %>
        <%= f.select :room_type_id, select_room_type, prompt: t(".select"), class: "form-control" %>
        <%= f.label :description %>
        <%= f.text_field :description, class: "form-control" %>
        <%= f.submit t(".submit"), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
