<tr id="booking-<%= booking.id %>">
  <td><%= link_to booking.room.room_number, "#" %></td>
  <td><%= link_to booking.room.room_type.name, "#" %></td>
  <td><%= booking.updated_at.to_date %></td>
  <td><%= booking.checkin.to_date %></td>
  <td><%= booking.checkout.to_date %></td>
  <td><%= total_calculate booking %> <%= t "currency" %></td>
  <td>
    <p data-placement="top" data-toggle="tooltip">
      <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#edit" >
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
    </p>
  </td>
  <td>
    <p data-placement="top" data-toggle="tooltip">
      <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#delete" >
        <span class="glyphicon glyphicon-trash"></span>
      </button>
    </p>
  </td>
</tr>
