<tr id="booking-<%= booking.id %>">
  <td><%= link_to booking.room_number, booking.room,
        {remote: true, "data-toggle": "modal", "data-target": "#room-modal"} %>
  </td>
  <div id="room-modal" class="modal fade" role="dialog"></div>
  <td><%= booking.room.room_type.name %></td>
  <td><%= booking.updated_at.to_date %></td>
  <td><%= booking.checkin.to_date %></td>
  <td><%= booking.checkout.to_date %></td>
  <td><%= total_calculate booking %> <%= t "currency" %></td>
  <td>
    <button type="button" class="btn status-btn <%= status_btn_color booking.is_checkout %>">
      <%= checkout_to_text booking.is_checkout %>
    </button>
  </td>
  <% if is_deadline_expired?(booking.created_at) || booking.is_checkout %>
    <td colspan="2"></td>
  <% else %>
    <td>
      <%= link_to edit_booking_path(booking), remote: true, class: "btn btn-default" do %>
        <span class="glyphicon glyphicon-pencil"></span>
      <% end %>
    </td>
    <td>
      <%= link_to booking_delete_path(booking), remote: true, class: "btn btn-danger" do %>
        <span class="glyphicon glyphicon-trash"></span>
      <% end %>
    </td>
  <% end %>
</tr>
