<% provide :title, @user.name %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <ul>
        <li><%= t ".name" %><%= @user.name %></li>
        <li><%= t ".email" %><%= @user.email %></li>
        <li><%= t ".gender" %><%= @user.gender %></li>
        <li><%= t ".phone" %><%= @user.phone %></li>
      </ul>
    </section>
  </aside>
</div>
