<% provide :title, t(".profile") %>
<%= render "shared/breadcrumb" %>
  <section class="user_info">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="default_image">
          <%= image_tag select_default_ava(@user), :class => "style_image" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h2><%= @user.name %></h2>
        <p><strong><%= t ".email" %></strong><%= @user.email %></p>
        <p><strong><%= t ".gender" %></strong><%= t "users.form.#{@user.gender}" %></p>
        <p><strong><%= t ".phone" %></strong><%= @user.phone %></p>
      </div>
    </div>
  </section>
  <section class="booking_list_area section_gap">
    <div class="container">
      <div class="section_title text-center">
        <h2 class="title_color"><%= t ".bookings_title" %></h2>
        <p><%= t ".bookings_subtitle" %></p>
        <div class="checkout-btn"><%= link_to t(".checkout"), new_payment_path, class: "view_btn button_hover" %></div>
      </div>
      <div class="card shadow">
        <div class="table-responsive">
          <table id="mytable" class="table table-bordred table-striped">
            <thead>
              <th><%= t ".room_number" %></th>
              <th><%= t ".room_type" %></th>
              <th><%= t ".booking_date" %></th>
              <th><%= t ".checkin" %></th>
              <th><%= t ".checkout" %></th>
              <th><%= t ".total" %></th>
              <th><%= t ".is_paid" %></th>
              <th><%= t ".edit" %></th>
              <th><%= t ".cancel" %></th>
            </thead>
            <tbody>
              <% if @bookings.any? %>
                <%= render @bookings %>
              <% else %>
                <p class="text-center no-record"><%= t ".no_booking" %></p>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div id="booking-modal" class="modal fade"></div>
  </section>
  <section class="bills_list_area section_gap">
    <div class="container">
      <div class="section_title text-center">
        <h2 class="title_color"><%= t ".bills_title" %></h2>
        <p><%= t ".bills_subtitle" %></p>
      </div>
      <div class="card shadow">
        <div class="table-responsive">
          <table id="mytable" class="table table-bordred table-striped">
            <thead>
              <th><%= t ".bill_id" %></th>
              <th><%= t ".created_date" %></th>
              <th><%= t ".total" %></th>
              <th><%= t ".is_paid" %></th>
            </thead>
            <tbody>
              <% if @payments.any? %>
                <%= render @payments %>
              <% else %>
                <p class="text-center no-record"><%= t ".no_payment" %></p>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>
