<section class="accomodation_area section_gap">
  <div class="container">
    <div class="section_title text-center">
      <h2 class="title_color"><%= t ".title" %></h2>
      <p><%= t ".subtitle" %></p>
    </div>
    <div class="row search-bar">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="row">
          <%= form_tag @static_pages, method: :get do %>
            <%= text_field_tag :search_key, params[:search_key], placeholder: t(".search"), class: "col-md-10"%>
            <%= submit_tag t(".search_btn"), class: "btn-primary submit-btn button_hover col-md-2" %>
          <% end %>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row mb_30">
      <% if @search_room_types.any? %>
        <%= render @search_room_types %>
      <% else %>
        <p class="text-center out-room"><%= t ".out_of_room" %></p>
      <% end %>
    </div>
  </div>
</section>
