<header class="header_area">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <!-- Brand and toggle get grouped for better mobile display -->
      <%= link_to home_path, class:"navbar-brand logo_h" do %>
        <%= image_tag Settings.src.logo, :alt => "Logo" %>
      <% end %>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
        <ul class="nav navbar-nav menu_nav ml-auto">
          <li class="nav-item">
            <%= link_to t(".home"), home_path, class: "nav-link" %>
          </li>
          <li class="nav-item submenu dropdown">
            <%= link_to t(".booking"), "#", class:"nav-link dropdown-toggle", "data-toggle": "dropdown"%>
            <ul class="dropdown-menu">
              <li class="nav-item">
                <%= link_to t(".booking"), admin_book_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to t(".list_booking"), admin_bookings_path, class: "nav-link" %>
              </li>
            </ul>
          </li>
          <li class="nav-item submenu dropdown">
            <%= link_to t(".users"),"#", class:"nav-link dropdown-toggle", "data-toggle": "dropdown" %>
            <ul class="dropdown-menu">
              <li class="nav-item">
                <%= link_to t(".list_customer"), admin_path({:role => :customer}), class: "nav-link" %>
              </li>
              <% if current_user.admin? %>
                <li class="nav-item">
                  <%= link_to t(".list_staff"), admin_path({:role => :staff}), class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to t(".add_user"), new_admin_user_path, class: "nav-link" %>
                </li>
              <% end %>
            </ul>
          </li>
          <li class="nav-item submenu dropdown">
            <%= link_to t(".rooms"),"#", class:"nav-link dropdown-toggle", "data-toggle": "dropdown" %>
            <ul class="dropdown-menu">
              <% RoomType.all.each do |room_type| %>
                <li class="nav-item">
                  <%= link_to room_type.name, room_type, class: "nav-link" %>
                </li>
              <% end %>
              <li class="nav-item">
                <%= link_to t(".add_room"), new_admin_room_path, class: "nav-link" %>
              </li>
            </ul>
          </li>
          <li class="nav-item submenu dropdown">
            <%= link_to current_user.name,"#", class:"nav-link dropdown-toggle",
                        "data-toggle": "dropdown" %>
            <ul class="dropdown-menu">
              <li class="nav-item">
                <%= link_to t(".profile"), current_user, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to t(".setting"), "#", class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to t(".logout"), logout_path, method: :delete, class: "nav-link" %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <ul class="nav navbar-nav menu_nav">
      <li class="nav-item">
          <div class="nav-link flag">
            <%= link_to image_tag("en.png", alt: "Logo"), locale:"en" %>
          </div>
        </li>
        <li class="nav-item">
          <div class="nav-link flag">
            <%= link_to image_tag("vi.png", alt: "Logo"), locale:"vi" %>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
