<div class="col-lg-3 col-sm-6" id="room-type-<%= room_type.id %>">
  <div class="accomodation_item text-center">
    <div class="hotel_img">
      <%= image_tag room_type.images.first if room_type.images.attached? %>
      <%= link_to t(".details"), room_type_path(room_type.id),
        {remote: true, "data-toggle": "modal", "data-target": "#roomtype-modal", class: "btn theme_btn button_hover"} %>
    </div>
    <div id="roomtype-modal" class="modal fade" role="dialog"></div>
    <%= link_to "#" do %>
      <h4 class="sec_h4"><%= room_type.name %></h4>
    <% end %>
    <h6>
      <small><%= t ".remaining" %></small>
      <span class="number"><%= room_type.available_number %> </span>
      <small><%= t ".room" %></small>
    </h6>
    <h5>
      <%= t "currency" %><%= room_type.cost %><small>/<%= t ".night" %></small>
    </h5>
  </div>
</div>
