<div class="modal-dialog modal-xl">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title" id="myModalLabel"><%= show_room_type %></h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-7">
          <div class="pro-img-details">
            <%= image_tag @room_type.images.first %> <br />
          </div>
          <div class="pro-img-list">
            <% @room_type.images[1..3].each do |image| %>
              <%= image_tag image %> <br />
            <% end %>
          </div>
        </div>
        <div class="rt-info col-md-5">
          <h4><%= t ".description" %></h4>
          <p><%= @room_type.description %></p>
          <hr>
          <div class="row">
            <strong class="col-md-6"><%= t ".bed" %></strong>
            <div class="number col-md-6"><%= @room_type.bed_num %></div>
          </div>
          <div class="row">
            <strong class="col-md-6"><%= t ".air_conditioner" %></strong>
            <div class="number col-md-6"><%= boolean_to_text @room_type.air_conditioner %></div>
          </div>
          <hr>
          <div class="row">
            <strong class="col-md-6"><%= t ".cost" %></strong>
            <div class="number col-md-6"><%= @room_type.cost %><%= t ".per_day" %></div>
          </div>
          <div class="row">
            <strong class="col-md-6"><%= t ".available_rooms" %></strong>
            <strong class="number col-md-6 available"><%= @rooms.count %></strong>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
