<div class="modal-dialog modal-xl">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title" id="myModalLabel">
        <%= t ".room" %> <%= @room.room_number %>
         - <%= @room_type.name %>
      </h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-7">
          <div class="pro-img-details">
            <%= image_tag @room_type.images.first %> <br />
          </div>
          <div class="pro-img-list">
            <% @room_type.images[1..3].each do |image| %>
              <%= image_tag image %> <br />
            <% end %>
          </div>
        </div>
        <div class="info col-md-5">
          <div class="rt-info">
            <strong><%= t ".room" %> <%= @room_type.name%></strong>
            <p><%= @room_type.description %></p>
            <hr>
            <div class="row">
              <strong class="col-md-6"><%= t ".bed" %></strong>
              <div class="number col-md-6"><%= @room_type.bed_num %></div>
            </div>
            <div class="row">
              <strong class="col-md-6"><%= t ".air_conditioner" %></strong>
              <div class="number col-md-6"><%= boolean_to_text @room_type.air_conditioner %></div>
            </div>
            <hr>
            <div class="row">
              <strong class="col-md-6"><%= t ".cost" %></strong>
              <strong class="number col-md-6"><%= @room_type.cost %><%= t ".per_day" %></strong>
            </div>
          </div>
          <div class="room-info">
            <h4><%= t ".description" %></h4>
            <p><%= @room.description %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
