<% provide :title, t(".title") %>
<%= render "shared/breadcrumb" %>
<div class="container content-padding">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for @user, url: admin_users_path do |f| %>
        <%= render "shared/error_messages", object: f.object %>

        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>
        <%= f.label :gender %>
        <%= f.select :gender, select_gender, prompt: t(".select"),
                              class: "form-control" %>
        <%= f.label :phone %>
        <%= f.text_field :phone, class: "form-control" %>
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
        <%= f.label :password_confirmation%>
        <%= f.password_field :password_confirmation, class: "form-control" %>
        <%= f.label :role %>
        <%= f.select  :role, select_role, prompt: t(".select"),
                             class: "form-control" %>

        <%= f.submit t(".submit"), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
