<header class="tm-header">
  <img class="tm-logo" src="/images/Majestic_Hotel_hd.png" alt="Majestic Hotel">
  <nav class="tm-nav" >
    <div>
      <ul>
        <li class="tm-list">
          <%= link_to t(".home"), home_path %>
        </li>
        <li class="tm-list">
          <%= link_to t(".explore"), "#" %>
        </li>
        <li class="tm-list">
          <%= link_to t(".room"), "#" %>
        </li>
        <li class="tm-list">
          <%= link_to t(".booking"), "#" %>
        </li>
        <li>
          <%= link_to t(".contact"), help_path %>
        </li>
        <% if logged_in? %>
          <li class="dropdown">
            <%= link_to "#", class:"dropdown-toggle", "data-toggle": "dropdown" do %>
              <%= t ".account" %>
              <b class="caret"></b>
            <% end %>
            <ul class="dropdown-menu">
              <li><%= link_to t(".profile"), current_user %></li>
              <li><%= link_to t(".setting"), "#" %></li>
              <li class="divider"></li>
              <li><%= link_to t(".logout"), logout_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t(".login"), login_path %></li>
        <% end %>
        <li><%= link_to t("en"), locale:"en" %></li>
        <li><%= link_to t("vi"), locale:"vi" %></li>
      </ul>
    </div>
  </nav>
</header>
